@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #31a503;
    /*variavel global em css*/
    --prmary-color-darker: #2b8308;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    /*para utlizar use "var"*/
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.calculadora{
    width: 400px;
}
.display{
    font-size: 2em;
    width: 100%;
    text-align: right;
}

.btn{
    width: 100%;
    height: 40px;
    font-size: 1em;
    border: none;
    background-color: #dfdfdf;
    cursor: pointer;
}
.btn:hover{
    background-color: #a0a0a0;
}
.btn-eq{
    background-color: rgb(104, 104, 231);
}
.btn-eq:hover{
    background-color: rgb(61, 61, 197);
}