@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    --primary-color: #1b1b17;/*variavel global em css*/
    --prmary-color-darker: #4d4c4c;
}

*{
    box-sizing: border-box;
    outline: 0;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);/*para utlizar use "var"*/
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.container-classe {
    display: flex;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus{
    outline: 1px solid var(--primary-color);
}
form button{
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}
form button:hover{
    background-color: var(--prmary-color-darker);
}
form button:active{
    color: #000;
    background-color: rgba(61, 135, 204, 0.993);
}